@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Free Pixel";
  src: url("/src/assets/fonts/FreePixel.ttf");
}

body {
  font-family: "Free Pixel", Arial, Helvetica, sans-serif;
  background-image: linear-gradient(#991b1b, #450a0a);
  height: 100vh;
  overflow: hidden;
}

.bounceImg {
  animation: float 2.5s infinite;
}
@keyframes float {
  0% {
    transform: translateY(10px);
  }

  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(10px);
  }
}
.input_search {
  width: 75%;
  padding: 4%;
  outline: none;
  border: 2px solid #333;
  border-radius: 5px;
  font-weight: 600;
  color: #3a444d;
  font-size: clamp(8px, 5vw, 1rem);
  box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}
.button_search {
  width: 20%;
  padding: 5%;
  outline: none;
  border: 2px solid #333;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  font-weight: 600;
  color: white;
  font-size: clamp(8px, 5vw, 1rem);
  background-color: #444;
  box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}
.button_search:active {
  box-shadow: inset -4px 4px 0 #222;
  font-size: 0.9rem;
}
.buttons {
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 65%;
  transform: translate(-57%, 0);
  display: flex;
  gap: 20px;
}

@media screen and (min-width: 776px) {
  .buttons {
    position: absolute;
    bottom: 13%;
    left: 50%;
    width: 65%;
    transform: translate(-57%, 0);
    display: flex;
    gap: 20px;
  }
}

.button {
  width: 50%;
  padding: 4%;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: clamp(8px, 5vw, 1rem);
  font-weight: 600;
  color: white;
  background-color: #444;
  box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

.button:active {
  box-shadow: inset -4px 4px 0 #222;
  font-size: 0.9rem;
}

@keyframes framerMotion {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

.framerMotion {
  animation: framerMotion 0.5s;
}
